

</aside><!-- End Sidebar-->

  <main id="main" class="main">

    <div class="card shadow p-5">
    <div class="mb-3">
      <%= link_to "Back", daily_tasks_path, class: "btn btn-primary" %>
    </div>
<h1> Today Status</h1>
<%= render "form", daily_task: @daily_task %>
<div>
  </div>
    </div>     

  </main><!-- End #main -->