<div class="container mt-5 p-5">
  <div class="mt-5">            
  <h2>Holidays List</h2>
    <table class="table table-dark table-striped">
      <thead>
        <tr>
          <th>No.</th>
          <th>Holiday Name</th>
          <th>Date</th>
        </tr>
      </thead>
      <tbody>
        <% @holidays.each do |holiday| %>
        <tr>
          <td><%= holiday.id %></td>
          <td><%= holiday.holiday_name %></td>
          <td><%= holiday.holiday_date %></td>
        </tr>
        <% end %>
      </tbody>
    </table>
  </div>
</div>