<h1>Forgot your password</h1>

<%= form_with url: password_reset_path do |f| %>
	  <div class="form-group">
        <%= f.label :email %><br />
        <%= f.email_field :email, autofocus: true, autocomplete: "email", class: 'form-control mt-2 mb-3' %>
      </div>
       <div class="actions">
        <%= f.submit "Reset Password", class: 'mb-3 btn btn-primary' %>
      </div>

<% end %>