<% @employees.each do |employee| %>
                  <tr>
                    <th scope="row"></th>
                    <td><%= employee.name %></td>
                    <td><%= employee.designation.name %></td>
                    <td><%#= link_to 'Attendence', attendences_path, class: "btn btn-primary"%></td>
                    <% unless employee.role.name == "HR" %>
                    <td><%= link_to 'Details', employee, class: "btn btn-primary"%></td>
                    <% end %>
                  </tr>
                  <% end %>