</aside><!-- End Sidebar-->
<main id="main" class="main">

  <div class="card shadow p-5">
    <h2 class="text-center text-primary">Edit Employee Details</h2><hr>
    <%= render 'form' %>
     <%= link_to 'Back', admin_main_employees_path %>
  </div>
  
</main>