</aside><!-- End Sidebar-->
<main id="main" class="main">
  <h1>Editing Holiday</h1>
  <div class="card shadow p-5">
    <div class="mb-3">
      <%= render 'form' %>
      <%= link_to 'Show', @holiday %> |
      <%= link_to 'Back', holidays_path %>
    </div>
  </div>
</main>
