
</aside><!-- End Sidebar-->

  <main id="main" class="main">

    <div class="card shadow p-5">
				        <%= render 'form', leaf: @leaf %>
    <div>
      <%= link_to 'Back', leafs_path, class: "btn btn-secondary mt-3 right " %>
    </div>
    </div>     

  </main><!-- End #main -->