</aside><!-- End Sidebar-->

  <main id="main" class="main">

    <div class="pagetitle">
      <h1>Salary</h1>
      <nav>
        <ol class="breadcrumb">
          <li class="breadcrumb-item">Home</li>
          <li class="breadcrumb-item">Employee</li>
          <li class="breadcrumb-item">Salary</li>
        </ol>
      </nav>
    </div><!-- End Page Title -->

    <section class="section">
      <div class="row">
        <div class="col-lg-12">

          <div class="card">
            <div class="card-body">
              
              <!-- Table with stripped rows -->
              <table class="table datatable">
                <thead>
                  <tr>
                    <th scope="col">#</th>
                    <th scope="col">Employee Name</th>
                    <th scope="col">Salary</th>
                    <th scope="col">Month</th>
                    <th scope="col">Download PDF</th>
                  </tr>
                </thead>
                <tbody>
                  <% @salaries.each do |salary| %>
                    <tr>
                      <th></th>
                      <td><%= salary.employee.name.capitalize() %></td>
                      <td><%= salary.salary %></td>
                      <% month = Date::MONTHNAMES %>
                      <td><%= month[salary.month.to_i]%></td>
                      <td>
                      <% if salary&.monthly_salary&.company_level == true %>
                      <% show_pdf =  pdf(salary.monthly_salary) %>
                      <% if salary.download_status == true %>
                        <% if show_pdf %>
                        <%= link_to 'Download PDF', salary_path(salary, :format => :pdf), target: "_blank", class: "text-black text-decoration", data: { confirm: 'You can download pdf only one time. Now you are ready to Download'} %>
                        <% end %>
                      <% end %>
                      <% end %>
                    </td>
                    </tr>
                  <% end %>
                </tbody>
              </table>
              <!-- End Table with stripped rows -->

            </div>
          </div>

        </div>
      </div>
    </section>

  </main><!-- End #main -->
  <style type="text/css">
        .text-decoration{
          text-decoration-line: underline;
}
  </style>