<table class="table table-striped">
  <thead>
    <tr>
      <th scope="col">Employee Name</th>
      <th scope="col">Attendences</th>
    </tr>
  </thead>
  <tbody class="search-data">
    <% @employees.all_except(current_employee).each do |emp| %>
      <tr>
        <td><%= emp.name.capitalize() %></td>
        <td>
          <%= link_to 'View Attendence',admin_main_attendence_path(emp), class: "btn btn-primary" %>
        </td>
      </tr>
    <% end %>
  </tbody>
</table>