
</aside><!-- End Sidebar-->

  <main id="main" class="main">

    <div class="pagetitle">
      <h1 class="mb-4">Attendence List</h1>
    </div><!-- End Page Title -->
    <section class="section">
      <div class="row">
        
        <div class="col-lg-12">

          <div class="card">
            <div class="card-body">
             <h5 class="card-title"></h5>
              <!-- Table with stripped rows -->
              <table class="table table-striped">
                <thead>
                  <tr>
                    <th scope="col">Date</th>
                    <th scope="col">Checkin Time</th>
                    <th scope="col"></th>
                    <th scope="col">Checkout Time</th>
                    <th scope="col">Working Hours</th>
                  </tr>
                </thead>
                <tbody class="search-data">
                 <%= render partial: "attendence", locals: { attendences: @attendences} %>
                </tbody>
              </table>
             
              <!-- End Table with stripped rows -->
            </div>
          </div>

        </div>
      </div>
    </section>

  </main><!-- End #main -->




