  </aside><!-- End Sidebar-->

  <main id="main" class="main">

    <div class="pagetitle">
      <h1>Performance</h1>
      <nav>
        <ol class="breadcrumb">
          <li class="breadcrumb-item">Home</li>
          <li class="breadcrumb-item">Employee</li>
          <li class="breadcrumb-item active">Performance</li>
        </ol>
      </nav>
    </div><!-- End Page Title -->
    <% points = [] %>
    <% @performances.each do |performances| %>
        <% if current_employee.id == performances.employee_id %>
          <% points << performances.points %>
      <% end %>
    <% end %>

           
            <section class="section">
              <div class="row">
                <div class="col-lg-12">
                  <div class="card">
                    <div class="card-body">
                      <h5 class="card-title"></h5>
                        <canvas id="myChart" class="zero" style="width:100%;max-width:100%"></canvas>
                          <script>
                          var xValues = ["January", "February", "March", "April", "May", "June", "July", "August", "September", "October", "November", "December"] 
                          var yValues = <%= points %>;
                          var barColors = "blue";

                          new Chart("myChart", {
                            type: "bar",
                            data: {
                              labels: xValues,
                              datasets: [{
                                backgroundColor: barColors,
                                data: yValues
                              }]
                            },
                            options: {
                              legend: {display: false},
                              title: {
                                display: true,
                                text: "Employee Performance"
                              }
                            }
                          });
                          </script>
                    </div>
                  </div>
                </div>
              </div>
            </section>
        