 </aside><!-- End Sidebar-->

  <main id="main" class="main">
    

    <div class="pagetitle">
      <h1>Salary</h1>
      <nav>
        <ol class="breadcrumb">
          <li class="breadcrumb-item">Home</li>
          <li class="breadcrumb-item">Employee</li>
          <li class="breadcrumb-item active">Salary</li>
        </ol>
      </nav>
    </div><!-- End Page Title -->


<%= render 'form', salary: @salarie %>

<%= link_to 'Back', salaries_path %>
